*.log
*.psd
*.fla
*.swp
*.pyc
*.zip
*.tgz
*.tar.gz
*.sql
*~
*#
.#*
*.egg-info
*/build/
.DS_Store
.boto
credentials.csv
local_settings.py
backups/
envs/
android/.project
android/.classpath
android/.settings/
android/bin/
html/static/
html/media/
docs/_build/
